body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button,
input,
select,
textarea,
li,
ul {
    font-family: "Poppins", sans-serif !important;
    font-size: 15px;
}

body {
    background: url("/login/images/bg.jpg") no-repeat center center fixed !important;
    background-size: cover;
    font-size: 15px;
}

.content-wrapper {
    background-color: transparent;
}

.btn-custom {
    background-color: #f0a8a8; /* Warna hijau */

    color: #ffffff; /* Warna teks */
    border-radius: 20px; /* Sudut tombol melengkung */
    padding: 8px 20px; /* Ukuran tombol */
}

.btn-custom:hover {
    background-color: #f0a8a8; /* Warna saat hover */
    color: rgb(49, 49, 49); /* Warna teks */
}

.btn-custom-close {
    background-color: #ecd96d; /* Warna hijau */
    color: #ffffff; /* Warna teks */
    border-radius: 20px; /* Sudut tombol melengkung */
    padding: 8px 20px; /* Ukuran tombol */
}

.btn-custom-close:hover {
    background-color: #f9fcf2; /* Warna saat hover */
    color: rgb(49, 49, 49); /* Warna teks */
}

.glass-box {
    background: rgba(241, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
